:root {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  --font-color: rgba(255 255 255)
}

body{
  margin: 0;
  padding: 0;
  color: var(--font-color)
}

#app{
  overflow: hidden;
}